<!doctype html>
<html> 
<head> 
    <title>Pokedex</title> 
</head> 
  
<!-- Table Styling -->
<style type="text/css"> 
      
    th:tr{ 
        color: blue; 
  
    } 
    tr:nth-of-type(2n){ 
        border: 1px solid black; 
        background-color: rgba(150, 150, 150, 0.5); 
  
    } 
  
    td{ 
        padding: 8px 8px; 
        border: 1px solid black; 
    } 
</style> 
  
<body> 
  
<p><input type="search" value="charizard"></p>
<p><input type="submit" value="submit"></p>
<p><input type="submit" value="Export to CSV"></p>

<table style="margin-left: 20px;"> 
<!-- Table headers -->
    <th> 
        <tr style="color: green; ">     
        <td>Serial Number</td> 
        <td>Pokemon Name</td> 
</tr> 
    </th> 
      
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%} 
  
<!-- table rows -->
<tr> 
    <td>{{i}}</td> 
    <td>{{Pokemon[i]}}</td> 
  
{%endfor%} 
  
</tr> 
  
</table> 
  
  
</body> 
</html> 